[submodule "LoraClient/src/infrastructure/gateway/LoRaCore"]
	path = LoraClient/src/infrastructure/gateway/LoRaCore
	url = https://github.com/byhat/LoRaCore.git
[submodule "tools/LoraEchoServer"]
	path = tools/LoraEchoServer
	url = https://github.com/byhat/LoraEchoServer.git
